body
{
    background-color: #D9E4DD;
}
hr
{
    width: 10%;
    border-width: 5px;
    color: gray;
    border-style:dotted none none none;
}
h1
{
    color: #66BFBF;
    font-style:oblique;
}
h3
{
    color: #66BFBF;
}
